####### UrbanSearch requirements.txt #######
#
####### Requirements without Version Specifiers ######
beautifulsoup4
# hack for gensim - travis stuff
gensim
neo4j-driver
nltk
pyahocorasick
pytest
pytest-cov
PyYAML
requests
scikit-learn
flask

#
####### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
#
# #
