####### UrbanSearch requirements.txt #######
#
####### Requirements without Version Specifiers ######
beautifulsoup4
neo4j-driver
pyahocorasick
pytest
pytest-cov
PyYAML
requests

#
####### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
# 
# #
